<body onload='request_news()'>
	<div class='container-large' id='panel'>
		<div class='container'>
			<div class='row'>
				<div class="col-12">
					<h2 class='page-header'>News</h2>
				</div>
			</div>
			<div class='row'>
				<p>GET FROM JSON SERVER</p>	
			</div>
		</div>
		<script src='/public/javascripts/script.js'></script>
	</div>
</body>
