<div class='container-large' style='height:100%;'>
	<div class='col-lg-12 jumbotron' id='panel' style='height:100%;'>	
		<h2 class='page-header'>The team</h2>
		<!--
		<div class='col-md-12'>
			<div class='row'>	
				<div id='trigger' class='trigger col-md-3 card'>
					<div class='overlay'>	
						<div class='col-lg-12'>
							<h2 class='page-header'>Xavier</h2>
							<p>The Cheif music officer</p>	
						</div>
					</div>
					<img class='profile' src='/assets/battle_screens/xavier/xavier.png'>	
				</div>
				<div id='trigger' class='trigger col-md-3 card'>
					<div class='overlay'>
						<div class='col-lg-12'>
							<h2 class='page-header'>Faisal</h2>
							<p>The seventh hokage</p>
						</div>
					</div>
					<img class='profile' src='/assets/battle_screens/faisal/faisal.png'>
				</div>
			</div>
		</div> -->
		<div class='col-xs-12' id='' style='width:100%'>
			<div class='row'>
				<div class='col-xs-12'>
					<img class='banner'src='/assets/team.png' alt='team'>
				</div>
			</div>
			<div class='row'>
 				<div class="carousel slide multi-item-carousel" id="theCarousel">
        				<div class="carousel-inner">
          					<div class="item active">
            						<div class="col-xs-4 trigger">
								<a href="#1">
									<img src="http://35.162.14.150/public/assets/battle_screens/xavier/xavier.png" class="img-responsive">
								</a>
								<div class='overlay'>
									<h2 class='page-header'>Xavier</h2>
									<p>The cheif music officer</p>
								</div>
							</div>
						</div>
          					<div class="item">
            						<div class="col-xs-4 trigger">
								<a href="#1">
									<img src="http://35.162.14.150/public/assets/battle_screens/faisal/faisal.png" class="img-responsive">
								</a>
								<div class='overlay'> 
									<h2 class='page-header'>Faisal</h2>
									<p class='center'>The seventh hokage</p>
								</div>
							</div>
          					</div>
          					<div class="item">
            						<div class="col-xs-4 trigger">
								<a href="#1">
									<img src="http://35.162.14.150/public/assets/battle_screens/tom/tom.png" class="img-responsive">
								</a>
								<div class='overlay'>
									<h2 class='page-header'>Tom</h2>
									<p class='center'>The tank engine</p>
								</div>
							</div>
          					</div>
          					<div class="item">
            						<div class="col-xs-4 trigger">
								<a href="#1">
									<img src="http://35.162.14.150/public/assets/battle_screens/alex/alex.png" class="profile">
								</a>
								<div class='overlay'>
									<h2 class='page-header'>Alex</h2>
									<p class='center'>The avatar of the full stack</p>
								</div>
							</div>
         					</div>
						<div class="item">
							<div class="col-xs-4 trigger">
								<a href="#1">
									<img src="http://35.162.14.150/public/assets/battle_screens/jessica/jessica.png" class="img-responsive">
								</a>
								<div class='overlay'>
									<h2 class='page-header'>Jessica</h2>
									<p class='center'>The Cheif Design officer</p>
								</div>
							</div>
          					</div>
						<div class="item">
     							<div class="col-xs-4 trigger">
								<a href="#1">
									<img src="http://35.162.14.150/public/assets/battle_screens/retinder/retinder.png" class="img-responsive">
								</a>
								<div class='overlay'>
									<h2 class='page-header'>Retinder</h2>
									<p class='center'>The sword code online</p>
								</div>
							</div>
         					</div>
        				</div>
					<a class="left carousel-control" href="#theCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
					<a class="right carousel-control" href="#theCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					
				</div>
			</div>
		</div>
		<div class='container'>
			<div class='row'>
				<div class='col-lg-4 col-md-6 col-sm-12'>
					<div class='row'>
						<h2 class='page-header'>Who are we?</h2>	
					</div>
					<div class='row'>
						<p>Amber labs created in 2017 is a web development team comprised of: <br><br> Faisal - CEO and Code Monkey <br> Xavier - Music Director <br> Jessica - Art Director <br> Tom - Code Monkey <br> Alex - Backend Code Monkey <br> Retinder - Manager</p>	
					</div>
				</div>
				<div class='col-lg-4 col-md-6 col-sm-12'>
					<div class='row'>
						<h2 class='page-header'>What do we do?</h2>
					</div>
					<div class='row'>
						<p>Amber labs creates Games! Our first game being RU-Fighter a turn based RPG.</p>
					</div>
				</div>
				<div class='col-lg-4 col-md-6 col-sm-12'>
					<div class='row'>
						<h2 class='page-header'>Technology</h2>
					</div>
					<div class='row'>
						<p>Amber labs uses many web based technologies to properly implement the features of the game such as:</p>						
						<ul>
							<li>AWS ec2 Ubuntu instance for hosting.</li>
							<li>Domain.com domain name.</li>
							<li>Git & Github sourcecode management.</li>
							<li>Front end: PhaserJS, JS, CSS, JQuery, Bootstrap, HTML.</li>
							<li>Back end: NodeJS, MongoDB.</li>
						</ul>
					</div>
				</div>
				<div class='col-lg-12 col-md-6 col-sm-12'>
                                        <div class='row'>
                                                <h2 class='page-header'>What our game is!!!</h2>
                                        </div>
                                        <div class='row'>
                                                <p>RPG game similar to the Pokemon Series of games. Your character will belong to a faculty here at Ryerson. Your character will also have the opportunity to fight your profs such as Nhan the Man himself.</p>
                                        </div>
                                </div>
				 <div class='col-lg-12 col-md-6 col-sm-12'>
                                        <div class='row'>
                                                <h2 class='page-header'>Why you should play our game?</h2>
                                        </div>
                                        <div class='row'>
                                                <p>RU Fighter is an inter faculty fighting game so it brings members of different faculties together and creates a sense of community at Ryerson. Additionally it brings some friendly competition in the midst as faculties compete to be at the top. It also aims to better student-teacher relations as students get to fight and defeat their prof at something. </p>
                                        </div>
                                </div>

			</div>
			<div class='row'>
				<p class='center'><a target='_blank' href='https://twitter.com/theAmberLabs'>Twitter</a></p>	
				<p class='center'><a target="_blank" href='https://www.facebook.com/AmberLabs-1408897925798512/'>Facebook</a></p>
			</div>
		</div>
	</div>
</div>

