<div class='container-fluid'>
	<div class='col-lg-12 jumbotron' id='panel'>	
		<h2 class='page-header'>The team</h2>
		<div class='col-md-12'>
			<div class='row'>	
				<div id='trigger' class='trigger col-md-3 card'>
					<div class='overlay'>	
						<div class='col-lg-12'>
							<h2 class='page-header'>Xavier</h2>
							<p>The Cheif music officer</p>	
						</div>
					</div>
					<img class='profile' src='/assets/battle_screens/xavier/xavier.png'>	
				</div>
				<div id='trigger' class='trigger col-md-3 card'>
					<div class='overlay'>
						<div class='col-lg-12'>
							<h2 class='page-header'>Faisal</h2>
							<p>The seventh hokage</p>
						</div>
					</div>
					<img class='profile' src='/assets/battle_screens/faisal/faisal.png'>
				</div>
			</div>
		</div>
		<!-- Carousel container -->
					<div class="col-lg-6" id="carousel-container">
						<div class="carousel slide" id="display-carousel" data-ride="carousel">
							<!-- Carousel bottom inidicators (tick/bullet) -->
							<ol class="carousel-indicators">
								<li data-target="#display-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#display-carousel" data-slide-to="1"></li>
								<li data-target="#display-carousel" data-slide-to="2"></li>
							</ol>
							<!-- Carousel content -->
							<div class="carousel-inner">
								<!-- Text for image 1 -->
								<div class="item active">
									<div class="slide1">
										<div class="carousel-caption">
											<h1>Lab 1</h1>
											<p>CSS Responsive design</p>
											<p>No Frameworks</p>
										</div>
									</div>
								</div>

								<!-- Text for image 2 -->
								<div class="item">
									<div class="slide2">
										<div class="carousel-caption">
											<h1>Lab 2</h1>
											<p>Google Maps and OpenWeatherMaps JSON API</p>
											<p>No Frameworks</p>
										</div>
									</div>
								</div>

								<!-- Text for image 3 -->
								<div class="item">
									<div class="slide3">
										<div class="carousel-caption">
											<h1>Lab 3</h1>
											<p>and another!</p>
										</div>
									</div>
								</div>
							</div>

							<!-- Action when arrows are clicked -->
							<!-- "Left/Previous" carousel button -->
							<a class="left carousel-control" href="#display-carousel" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>

							<a class="right carousel-control" href="#display-carousel" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>	
					</div>
					<!-- End of Carousel container -->
	</div>
</div>

