@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.carousel-control.left, .carousel-control.right 
{
	/* Removes the background tint */
    background-image: none
}

.tagContainer { position: relative; }

.tagContainer, p.tag, p.tag + b
{
	position: absolute;
	top: 0px;
	right: 0px;
}

div.container 
{
	max-width: 900px;		
}

input#message
{
	padding: 20px 20px 200px 10px;
}

textarea
{
	width: 100%;
	margin-bottom: 20px;
	height: 150px;
}

input[type=text]
{
	width: 100%;
	margin-bottom: 10px;
}

button[type=submit]
{
	color: white;
	background-color: orange;
	width: 33%;
}

#submit-container
{
	text-align: center;
}

#comments-container 
{
	margin-top: 25px;
}
h3.username { font-size: 24px; color: black;}

p.comment { font-size: 20px; color; grey;}

p.tag { font-size: 24px; color: red;} 

p.time { text-align: right; }

p.summary {font-size: 28px;}

div.container-large { max-width: 1300px; margin: auto; padding: 20px;}

img.banner
{
	width: 100%;
	padding-bottom: 20px;
}

img.ru-fighter
{
 	width: 20%;
	height: 20%;

}

h2.title
{
	font-size: 44px;
}

a, a:hover, a:focus { color: orange;}
a:visited { color: red; }

#team-container { max-width: 728px; height: 400px;}

#team-container div.row , #team-container div.carousel , #team-container div.carousel-inner, #team-container div.item , #team-container div.trigger  
{
	height: 100%;
}

html,body
{
	height: 100%;
	width: 100%;
	min-width: 350px;
	background-color: rgb(249,249,249);
}

body 
{
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

div#panel
{
	width: 100%;
	background-color: white;
	border-radius: 6px;
	border: 1px solid #d8dde2;
}

div.trigger
{
	padding: 0px;
	margin: 0px;
	transition: height 1s;	
}

div.trigger:hover div.overlay , div.overlay:hover div.overlay
{
	padding: 20px;
	color: white;
	height:100%;
	transition-timing-function: ease-out;
}

div.overlay
{
	padding : 0px;
	position : absolute;
	top:0;
	height: 0px;	
	width: 100%;
	z-index: 2;
	border-radius: 0px;
	color: transparent;
	background-color: rgba(200,100,0, 0.9);
	transition: height 0.5s, padding 1s, color 1s;
}

div.overlay p , div.overlay h2
{
	

}

.xavier
{
	background-image: url('http://35.162.14.150/public/assets/battle_screens/xavier/xavier.png');
	height: 550px;
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size: cover;
	border-radius: 6px;
}

.faisal
{
	background-image: url('http://35.162.14.150/public/assets/battle_screens/faisal/faisal.png');
	height: 550px;
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size: cover;
	border-radius: 6px;
}

div.card
{
	height: 100%;
}

h2,h3
{
	margin-top:0px;
}

div#phaser-container
{
	width: 100%;
}

div.center
{
	text-align:center;
}

button#submit_login
{
	background-color: orange;
	border: 1px solid rgb(255, 145, 0);
	border-radius: 6px;
	color:white;
	text-align: center;
	width:20%;
}

img.logo
{
	width : 100%;
	height : auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom : 5px; 
}

img.profile
{
	height: 100%;
	width: 100%;
}

/* Custom page header */
.header 
{
	padding-bottom: 20px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 
{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

/* Custom page footer */
.footer 
{
	padding-top: 19px;
	color: #777;
}

.center {text-align: center;}

div#alert { margin-bottom: 25px; padding-bottom: 0px; padding-top: 0px;} 

/* Main marketing message and sign up button */
.jumbotron 
{
	background-color: rgb(249,249,249);
	/*text-align: center;*/
	border-bottom: none;
	/* border-bottom: 1px solid #e5e5e5; */
}

.jumbotron .btn 
{
	padding: 10px 14px;
	font-size: 18px;	
}

div.container-small 
{
	max-width: 900px;
	padding-left: 25px;
	padding-right: 25px; 
}

div.row
{
	/*padding-top: 20px; */
}

label { font-size: 24px;}

input { border: 1px solid #d8dde2;}

input:hover, input:focus
{
	border: 1px solid orange;
} 

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 992px) 
{	
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer 
	{
		padding-right: 0;
		padding-left: 0;
	}

	/* Space out the masthead */
	.header 
	{
		margin-bottom: 30px;
	}

	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron 
	{
		border-bottom: 0;
	}
	.page-header
	{
		font-size: 48px;
	}
}

@media screen and (min-width: 1200px;)
{
	
}

/* div.container { margin: auto; } */

.page-header 
{
	margin-top: 0;
	text-align: center;
	border: none;
	font-size: 58px;
	/* color: #ff8000; */
}

.accent
{
	color: #ff8000;
}

footer 
{
	margin-top: 40px;
}

/* multiple slide carousel */
.multi-item-carousel
{
	.carousel-inner
	{
		> .item
		{
			height: 100%;
			transition: 500ms ease-in-out left;
		}
		
		.active
		{
 			&.left
			{
  				left:-33%;
      			}
      			&.right
			{
 				left:33%;
 			}
		}
 		
		.next
		{
  			left: 33%;
 		}
 		
		.prev
		{
 			left: -33%;
		}
		
		@media all and (transform-3d), (-webkit-transform-3d)
		 {
			> .item
			{
        			//use your favourite prefixer here
        			transition: 500ms ease-in-out left;
        			transition: 500ms ease-in-out all;
        			backface-visibility: visible;
				transform: none!important;
			}
		}
	}
	.carouse-control
	{
		&.left, &.right
		{
			background-image: none;
		}
	}
}
