@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

a, a:hover, a:focus { color: orange;}
a:visited { color: red; }

html,body
{
	height: 100%;
	width: 100%;
	background-color: rgb(249,249,249);
}

body 
{
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

div#panel
{
	width: 100%;
	background-color: white;
	border-radius: 6px;
	border: 1px solid #d8dde2;	
}

div.trigger
{
	transition: height 1s;	
}

div.trigger:hover div.overlay , div.overlay:hover div.overlay
{
	padding: 20px;
	color: white;
	height:100%;
}

div.overlay
{
	padding : 0px;
	position : absolute;
	top:0;
	height: 0px;	
	width: 100%;
	z-index: 2;
	border-radius: 0px;
	color: transparent;
	background-color: rgba(50,50,50, 0.9);
	transition: height 1s, padding 1s, color 1s;
}

div.overlay p , div.overlay h2
{
	
}

div.card
{
	height: 100%;
}

h2
{
	margin-top:0px;
}

div#phaser-container
{
	width: 100%;
}

div.center
{
	text-align:center;
}

button#submit_login
{
	background-color: orange;
	border: 1px solid rgb(255, 145, 0);
	border-radius: 6px;
	color:white;
	text-align: center;
	width:25%;
}

img.logo
{
	width : 100%;
	height : auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom : 5px; 
}

img.profile
{
	width: 100%;
}

/* Custom page header */
.header 
{
	padding-bottom: 20px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 
{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

/* Custom page footer */
.footer 
{
	padding-top: 19px;
	color: #777;
}

.center {text-align: center;}

div#alert { margin-bottom: 25px; padding-bottom: 0px; padding-top: 0px;} 

/* Main marketing message and sign up button */
.jumbotron 
{
	background-color: rgb(249,249,249);
	/*text-align: center;*/
	border-bottom: none;	
	/* border-bottom: 1px solid #e5e5e5; */
}

.jumbotron .btn 
{
	padding: 14px 24px;
	font-size: 21px;
	
}

div.container 
{
	max-width: 900px;
	padding-left: 25px;
	padding-right: 25px; 
}

div.row
{
	padding-top: 20px;
}

label { font-size: 24px;}

input { border: 1px solid #d8dde2;}

input:hover, input:focus
{
	border: 1px solid orange;
} 

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 992px) 
{	
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer 
	{
		padding-right: 0;
		padding-left: 0;
	}

	/* Space out the masthead */
	.header 
	{
		margin-bottom: 30px;
	}

	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron 
	{
		border-bottom: 0;
	}
	.page-header
	{
		font-size: 48px;
	}
}

@media screen and (min-width: 1200px;)
{
	
}

/* div.container { margin: auto; } */

.page-header 
{
	margin-top: 0;
	text-align: center;
	border: none;
	font-size: 58px;
	/* color: #ff8000; */
}

.accent
{
	color: #ff8000;
}

footer 
{
	margin-top: 40px;
}
